{% extends "base/base.html" %}
{% load static %}
{% block title %}Password Reset Complete - Sarab{% endblock %}
{% block content %}
<div class="result-wrap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 col-lg-4">
        <div class="result-card">
          <div class="result-icon success"><i class="fas fa-check fa-2x" style="color:#fff;"></i></div>
          <h2>Password Reset!</h2>
          <p>Your password has been successfully changed.</p>
          <p style="color:#aaa;font-size:.87rem;">You can now sign in with your new password.</p>
          <a href="{% url 'login' %}" class="btn-red mt-3 d-inline-flex"><i class="fas fa-sign-in-alt"></i>Sign In Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
